# Setup - Kör koden i denna cell. Du behöver installera pandas med pip (pip install pandas)

In [3]:
# This makes it so that jupyter wont just output the last line, but everything that gets outputted.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd
import numpy as np

## Beskrivning

Kickstarter är en tjänst där vem som helst kan försöka få finansiering av privatpersoner och företag för att förverkliga en projekt. Datan består några tusen projekt som varit publicerade.

# Sektion G (Godkänt)

### Ladda in datasettet kickstarter.csv till en dataframe, döp den till "df"

In [4]:

df =  pd.read_csv("kickstarter.csv")
df

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
0,1054480724ID,Luminoodle COLOR & BASECAMP: Versatile & Porta...,Product Design,Design,USD,2016-04-22,25000.0,2016-03-22 16:39:57,408052.0,successful,5085,US,98849$ usd,408052.00,25000.00,"Mary Grove, 30815"
1,1317034686ID,Liberty's work was accepted into the Library o...,Shorts,Film & Video,USD,2017-02-23,1100.0,2017-02-03 07:26:57,1106.0,successful,10,US,52486$ usd,1106.00,1100.00,"Garcia Tunnel, 77525"
2,121816660ID,Dusk - Open World Survival Horror (Canceled),Video Games,Games,GBP,2015-12-19,50000.0,2015-11-18 01:53:10,1625.0,canceled,58,GB,53482$ usd,2422.88,74550.09,"Payne Isle, 42813"
3,49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,0.0,failed,0,SE,64632$ usd,0.00,23054.76,"Laura Stream, 08932"
4,1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.0,successful,9,US,99272$ usd,5025.00,5000.00,"Andrew Pike, 24782"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,867650362ID,SideWayz Theatre's First Production Fund,Theater,Theater,USD,2016-03-23,2500.0,2016-03-03 23:30:22,25.0,failed,1,US,70106$ usd,25.00,2500.00,"Fernandez Cliff, 07444"
1996,1512412268ID,THE LOVE & MISERY OF A MOONSHINE MIND Project,Publishing,Publishing,USD,2012-10-11,4850.0,2012-09-14 23:43:32,40.0,failed,2,US,77334$ usd,40.00,4850.00,"Williams Junction, 45598"
1997,508267839ID,Mall-World Animated Series - Comedy,Animation,Film & Video,USD,2016-12-19,25000.0,2016-11-04 00:45:31,86.0,failed,2,US,95565$ usd,86.00,25000.00,"Elaine Point, 97758"
1998,945357371ID,Behind the Food Carts Road Trip,Photography,Photography,USD,2014-02-04,5000.0,2014-01-14 23:48:24,5610.0,successful,77,US,86498$ usd,5610.00,5000.00,"Nancy Dam, 25971"
1999,1093469237ID,Paintball Robot,Technology,Technology,USD,2011-03-23,15000.0,2011-02-11 23:55:07,1233.0,failed,18,US,72847$ usd,1233.00,15000.00,"Kennedy Motorway, 67176"

### Printa ut de 5 första raderna

In [5]:
df.head(5)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
0,1054480724ID,Luminoodle COLOR & BASECAMP: Versatile & Porta...,Product Design,Design,USD,2016-04-22,25000.0,2016-03-22 16:39:57,408052.0,successful,5085,US,98849$ usd,408052.00,25000.00,"Mary Grove, 30815"
1,1317034686ID,Liberty's work was accepted into the Library o...,Shorts,Film & Video,USD,2017-02-23,1100.0,2017-02-03 07:26:57,1106.0,successful,10,US,52486$ usd,1106.00,1100.00,"Garcia Tunnel, 77525"
2,121816660ID,Dusk - Open World Survival Horror (Canceled),Video Games,Games,GBP,2015-12-19,50000.0,2015-11-18 01:53:10,1625.0,canceled,58,GB,53482$ usd,2422.88,74550.09,"Payne Isle, 42813"
3,49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,0.0,failed,0,SE,64632$ usd,0.00,23054.76,"Laura Stream, 08932"
4,1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.0,successful,9,US,99272$ usd,5025.00,5000.00,"Andrew Pike, 24782"

In [6]:
# Ta ej bort denna cell

### Printa ut 20 slumpmässiga rader från datasettet

In [7]:
df.sample(20)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
1856,591027514ID,Monument Comic Book,Comic Books,Comics,USD,2017-12-17,5000.0,2017-11-27 00:39:33,6230.94,successful,136,US,79358$ usd,6230.94,5000.00,"Carolyn Glens, 39060"
585,883738311ID,MadamX-Get Your X On! (Canceled),Apparel,Fashion,USD,2014-10-30,8100.0,2014-09-30 16:59:52,0.00,canceled,0,US,72016$ usd,0.00,8100.00,"Kimberly Fords, 47422"
618,1426332307ID,Runaway Imagination,Children's Books,Publishing,USD,2013-08-31,2700.0,2013-08-01 03:55:25,3449.00,successful,66,US,75497$ usd,3449.00,2700.00,"Dominguez Grove, 88616"
1539,890111187ID,american wrecking company,Metal,Music,USD,2016-12-03,8500.0,2016-11-01 07:30:31,330.00,canceled,6,US,88165$ usd,330.00,8500.00,"Baker Pass, 23221"
239,1229533684ID,A Year of Paintings,Painting,Art,EUR,2016-01-04,30000.0,2015-12-21 19:41:00,140.00,failed,1,ES,96310$ usd,152.05,32582.84,"Thompson Club, 78789"
483,1150734954ID,Chrome Triforce Emblem,Design,Design,USD,2012-05-30,10000.0,2012-04-30 01:48:27,236.00,failed,7,US,52391$ usd,236.00,10000.00,"Nicole Freeway, 48119"
1641,43848071ID,Chinatown Nights - A Novel by Alexander Stuart,Fiction,Publishing,USD,2012-08-24,20000.0,2012-07-20 00:20:40,2196.00,failed,26,US,81051$ usd,2196.00,20000.00,"Jeffrey Brooks, 38512"
1902,485868569ID,The Brug from Wunderlife: The Packable Multi-U...,Product Design,Design,GBP,2017-03-29,3000.0,2017-02-27 19:56:18,8274.80,successful,130,GB,95687$ usd,10340.53,3748.92,"Wagner Manor, 08852"
85,468081022ID,Button-Up + Laces: Quit Tying Knots!,Product Design,Design,USD,2015-03-30,9000.0,2015-01-27 15:00:53,29892.00,successful,970,US,74823$ usd,29892.00,9000.00,"Becker Springs, 71570"
691,1878275925ID,We Were Here 79-89,Photobooks,Photography,GBP,2016-10-12,31500.0,2016-09-12 15:32:46,1165.00,canceled,20,GB,90049$ usd,1425.56,38545.31,"Michael Motorway, 60688"
961,801110890ID,Waiting for Lefty - LA to NY,Theater,Theater,USD,2012-02-10,10000.0,2011-12-12 23:03:25,10764.40,successful,203,US,84096$ usd,10764.40,10000.00,"Dillon Landing, 46323"
493,259708697ID,PlugTight – World's first lock-in cellphone ca...,Technology,Technology,USD,2016-03-17,160000.0,2016-02-16 01:15:11,259.00,failed,7,US,61689$ usd,259.00,160000.00,"Patricia Streets, 64639"
973,1213729631ID,"Father, Don't Cry",Nonfiction,Publishing,USD,2017-03-26,10000.0,2017-02-24 19:03:08,270.00,canceled,4,US,66928$ usd,270.00,10000.00,"Vargas Shores, 50338"
1532,314196533ID,GOLIATH GALLON - Two Piece Bottle. Durable. Ea...,Product Design,Design,USD,2017-05-08,100000.0,2017-04-08 00:01:32,4823.00,failed,158,US,62323$ usd,4823.00,100000.00,"Nguyen Coves, 68067"
833,2072615998ID,The Matrix Part 4: The American Race War (Canc...,Animation,Film & Video,USD,2015-10-30,40000.0,2015-09-15 07:30:12,0.00,canceled,0,US,91535$ usd,0.00,40000.00,"Lee Fall, 03959"
22,656104413ID,Unbroken Angels,Film & Video,Film & Video,USD,2015-05-01,7500.0,2015-04-01 04:52:51,9612.00,undefined,0,"N,0""",72798$ usd,9612.00,7500.00,"Hunt Drive, 93947"
1711,117028735ID,"Let's Bring our Rock/Pop Album ""Masquerade"" Ho...",Rock,Music,USD,2011-02-19,1000.0,2011-01-29 07:53:45,0.00,canceled,0,US,84608$ usd,0.00,1000.00,"Patricia Centers, 65596"
927,359384644ID,Unsung hero! BOLT and NUT pin!,Digital Art,Art,HKD,2017-04-15,3000.0,2017-03-15 13:11:39,155.00,failed,2,HK,89108$ usd,19.93,385.79,"Myers Keys, 60188"
1000,663868583ID,Greg Ward's Fitted Shards' New Recording Campaign,World Music,Music,USD,2014-12-19,12000.0,2014-11-19 16:17:51,3326.00,failed,54,US,97876$ usd,3326.00,12000.00,"Pamela Pines, 92339"
231,1379603301ID,Grounation God Of The Drums.,World Music,Music,GBP,2015-04-30,2500.0,2015-03-31 21:48:08,1.00,failed,1,GB,57424$ usd,1.54,3858.20,"Merritt Bypass, 14952"

In [8]:
# Ta ej bort denna cell

### Visa en sammanställning av information från din dataframe

In [9]:
df.info() 
# Om man vill få yttligare info om datasettet så kan man också köra describe() functionen

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  2000 non-null   object
 1   name                2000 non-null   object
 2   category            2000 non-null   object
 3   main_category       2000 non-null   object
 4   currency            2000 non-null   object
 5   deadline            2000 non-null   object
 6   goal                2000 non-null   float64
 7   launched            2000 non-null   object
 8   pledged             2000 non-null   float64
 9   state               2000 non-null   object
 10  backers             2000 non-null   int64
 11  country             2000 non-null   object
 12  usd pledged         2000 non-null   object
 13  usd_pledged_result  2000 non-null   float64
 14  usd_funding_goal    2000 non-null   float64
 15  company_address     2000 non-null   object
dtypes: float64(4), int64(1), object(11)
memory usage: 250.1+ KB

In [10]:
# Ta ej bort denna cell

### Printa rad 5 till rad 10 (inkluderat 10) med hjälp av .iloc

In [11]:
df.iloc[5:11]

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
5,2021765829ID,Feels Like Home is Going On Tour,Rock,Music,USD,2013-05-01,5000.0,2013-04-10 01:42:03,5490.69,successful,93,US,74996$ usd,5490.69,5000.00,"Gonzalez Landing, 20367"
6,923683665ID,Sarah’s Journey: Empowering the Dreams of Disp...,Children's Books,Publishing,SEK,2016-12-19,218000.0,2016-11-15 19:13:46,227101.00,successful,352,SE,67246$ usd,24593.47,23607.89,"Hall Loaf, 09759"
7,397532230ID,James Clark's Lonely Hearts Rugby Clwb Film & ...,Music,Music,GBP,2014-02-04,300.0,2014-01-07 23:34:41,624.00,successful,26,GB,61172$ usd,1018.79,489.80,"Cunningham Throughway, 66540"
8,181163322ID,Chosen Kin: A New Superhero Series & Interacti...,Webseries,Film & Video,USD,2017-02-02,5000.0,2017-01-03 06:54:08,156.00,failed,5,US,96858$ usd,156.00,5000.00,"Bullock Skyway, 28207"
9,1616507003ID,Adventures in Oz: Beyond the Deadly Desert,Games,Games,USD,2011-12-02,3000.0,2011-11-01 00:00:10,520.00,failed,17,US,82928$ usd,520.00,3000.00,"Harris Estates, 48703"
10,373344194ID,Moonlight Vulture,Restaurants,Food,USD,2016-01-04,10000.0,2015-12-14 15:23:00,10727.00,successful,102,US,51152$ usd,10727.00,10000.00,"Bryant Manor, 16806"

In [12]:
# Ta ej bort denna cell

### Byt index (radernas namn) så att index är baserat på den befintliga kolumnen ID, ändringen ska vara permanent (använd inte inplace)

In [14]:
df = df.set_index('ID') #
df

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
ID,,,,,,,,,,,,,,,
1054480724ID,Luminoodle COLOR & BASECAMP: Versatile & Porta...,Product Design,Design,USD,2016-04-22,25000.0,2016-03-22 16:39:57,408052.0,successful,5085,US,98849$ usd,408052.00,25000.00,"Mary Grove, 30815"
1317034686ID,Liberty's work was accepted into the Library o...,Shorts,Film & Video,USD,2017-02-23,1100.0,2017-02-03 07:26:57,1106.0,successful,10,US,52486$ usd,1106.00,1100.00,"Garcia Tunnel, 77525"
121816660ID,Dusk - Open World Survival Horror (Canceled),Video Games,Games,GBP,2015-12-19,50000.0,2015-11-18 01:53:10,1625.0,canceled,58,GB,53482$ usd,2422.88,74550.09,"Payne Isle, 42813"
49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,0.0,failed,0,SE,64632$ usd,0.00,23054.76,"Laura Stream, 08932"
1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.0,successful,9,US,99272$ usd,5025.00,5000.00,"Andrew Pike, 24782"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
867650362ID,SideWayz Theatre's First Production Fund,Theater,Theater,USD,2016-03-23,2500.0,2016-03-03 23:30:22,25.0,failed,1,US,70106$ usd,25.00,2500.00,"Fernandez Cliff, 07444"
1512412268ID,THE LOVE & MISERY OF A MOONSHINE MIND Project,Publishing,Publishing,USD,2012-10-11,4850.0,2012-09-14 23:43:32,40.0,failed,2,US,77334$ usd,40.00,4850.00,"Williams Junction, 45598"
508267839ID,Mall-World Animated Series - Comedy,Animation,Film & Video,USD,2016-12-19,25000.0,2016-11-04 00:45:31,86.0,failed,2,US,95565$ usd,86.00,25000.00,"Elaine Point, 97758"
945357371ID,Behind the Food Carts Road Trip,Photography,Photography,USD,2014-02-04,5000.0,2014-01-14 23:48:24,5610.0,successful,77,US,86498$ usd,5610.00,5000.00,"Nancy Dam, 25971"
1093469237ID,Paintball Robot,Technology,Technology,USD,2011-03-23,15000.0,2011-02-11 23:55:07,1233.0,failed,18,US,72847$ usd,1233.00,15000.00,"Kennedy Motorway, 67176"

In [13]:
# Ta ej bort denna cell

### Displaya raderna med indexet "121816660ID" till "1503277376ID" med hjälp av .loc
- Förklara varför en dataframe på många sätt är en blandning mellan en lista och dictionary, använd .iloc och .loc när du argumenterar

In [14]:
df.loc["1218166601ID" : "1503277376ID"]

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
1219,22656621ID,Zamora's World,Video,Journalism,USD,2015-09-27,5000.0,2015-07-29 08:19:57,0.00,failed,0,US,84713$ usd,0.00,5000.00,"Michael Glens, 65523"
1220,107627459ID,Mayami Folklorico / Dance and Music,Dance,Dance,USD,2011-10-18,600.0,2011-10-09 07:10:28,648.00,successful,12,US,78355$ usd,648.00,600.00,"Frazier Villages, 35945"
1221,868214990ID,"""Don't Be a Loser"" - Ridiculously Fun Party Bo...",Tabletop Games,Games,USD,2014-11-21,20000.0,2014-10-07 04:29:00,20308.36,successful,249,US,78487$ usd,20308.36,20000.00,"Juarez Groves, 78659"
1222,967134064ID,Pretty Vacant: London Calling 2,Comic Books,Comics,USD,2014-11-10,400.0,2014-10-11 04:20:26,840.00,successful,32,US,56268$ usd,840.00,400.00,"Russell Summit, 43529"
1223,761998357ID,Dennie Hall EP,Music,Music,USD,2017-08-01,7000.0,2017-06-27 17:41:32,1400.00,failed,41,US,63397$ usd,1400.00,7000.00,"Angela Squares, 73535"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1499,1060097651ID,Jeremy Abram @ The Duplex New York,Musical,Theater,USD,2014-05-18,500.0,2014-05-12 19:41:31,595.00,successful,12,US,99281$ usd,595.00,500.00,"Compton Ferry, 88990"
1500,1623204877ID,Pinn | All-In-One Handsfree Device For Your Sm...,Gadgets,Technology,USD,2017-05-03,25000.0,2017-03-21 15:38:53,28335.20,successful,181,US,79633$ usd,28335.20,25000.00,"Anthony Fields, 83813"
1501,186055479ID,Great Britain and its coasts - Photography by ...,Places,Photography,GBP,2014-10-31,350.0,2014-09-01 22:27:30,11.00,failed,2,GB,87059$ usd,17.57,558.93,"James Grove, 87375"
1502,1087944081ID,Orlando Nerd Fest presents: #ONF2014 LIVE!,Music Videos,Film & Video,USD,2014-07-19,10000.0,2014-06-19 05:37:47,1550.00,failed,36,US,52714$ usd,1550.00,10000.00,"King Unions, 19754"
1503,532238314ID,"Monster Buddies, Colorful, Furry Monsters you ...",Product Design,Design,USD,2014-06-01,50000.0,2014-05-03 04:51:54,320.00,failed,4,US,83397$ usd,320.00,50000.00,"Powell Mall, 08800"

In [15]:


people = {
    'first': ['Corey', 'Jane', 'John', 'Chris'], 
    'last': ['Schafer', 'Doe', 'Dean', 'Schafer'], 
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com','Anonymous@email.com'],
    'age': ['33', '55', '63', '36',]
}

# Exempelt ovan är en blandning av dict och lista, om vi importerar denna datan i jupyter notebook och andväda pandas funktionen
# pd.DataFrame() så kommer vi att få en dataframe. En dataframe är en två dimensionellt data struktur, man kan också säga ett två 
# dimensionellt lista med rader och kolummner. Eftersom vi har key value pairs också så är data-framen en blandning av dict och lista som okscå kallas för array.
# kortfattat kan man säga för att vi kan acessa båda via index och label.
df1 = pd.DataFrame(people)
df1
df1.iloc[0] # Med hjälp av iloc funktionen i pandas så kan vi acessa olika rader i vår dataframe.
# iloc funktionen är enligt pandas dokumentation integer position baserad, men kan också användas med boolean array. 
# .loc funktionen är främst label baserad, men kan också användas med boolean array.

   first     last                    email age
0  Corey  Schafer  CoreyMSchafer@gmail.com  33
1   Jane      Doe        JaneDoe@email.com  55
2   John     Dean        JohnDoe@email.com  63
3  Chris  Schafer      Anonymous@email.com  36

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
age                           33
Name: 0, dtype: object

In [16]:
# Ta ej bort denna cell

### Displaya alla rader med currencyn "USD" genom att använda en mask

In [15]:


# df_new = df[df["goal"] == 200] #
# df_new

df.loc[df['currency'] == 'USD']

ID
1054480724ID     True
1317034686ID     True
121816660ID     False
49882738ID      False
1503277376ID     True
                ...
867650362ID      True
1512412268ID     True
508267839ID      True
945357371ID      True
1093469237ID     True
Name: currency, Length: 2000, dtype: bool

In [18]:
# Ta ej bort denna cell

In [19]:
df['pledged']

0       408052.0
1         1106.0
2         1625.0
3            0.0
4         5025.0
          ...
1995        25.0
1996        40.0
1997        86.0
1998      5610.0
1999      1233.0
Name: pledged, Length: 2000, dtype: float64

### kolumnen "pledged" har en hel del värden med 0.0. Ändra dessa till NaN-datatypen istället, använd .loc.

In [17]:
#df["pledged"] = df["pledged"].replace(0.0, np.nan)
df.loc[df["pledged"] == 0.0, "pledged"] = np.nan

C:\Users\af970720\AppData\Local\Temp\ipykernel_7560\1198834277.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df["pledged"] == 0.0]["pledged"] = np.nan

In [21]:
df['pledged']

0       408052.0
1         1106.0
2         1625.0
3            NaN
4         5025.0
          ...
1995        25.0
1996        40.0
1997        86.0
1998      5610.0
1999      1233.0
Name: pledged, Length: 2000, dtype: float64

### Printa ut alla rader som har NaN med sina vanliga värden (dvs. det ska inte bara vara True / False), ___Du ska använda dig av en metod/funktion___

In [19]:
# Du ska **INTE** göra så här: ks[ks["pledged"] == np.NaN] - du kan ju testa, det kommer inte att fungera!
df[df['pledged'].isna()] ## fel, men close

Empty DataFrame
Columns: [name, category, main_category, currency, deadline, goal, launched, pledged, state, backers, country, usd pledged, usd_pledged_result, usd_funding_goal, company_address]
Index: []

In [23]:
# Ta ej bort denna cell

### Skapa en ny kolumn som är heter pledged_real_diff som representerar skillnaden i USD mellan pledged usd och pledged_usd_real.
Hint: Du kommer behöva "cleana" "pledged usd" så att du kan utföra matematiska operationer på det genom att först städa bort onödig text och sedan konvertera det till en float.

In [24]:
#df["usd pledged"].str.split("$usd") #check

df['usd pledged'] = df['usd pledged'].map(lambda x: x.lstrip('$').rstrip('$usd'))
df['usd pledged']
df['usd pledged'].str.replace("$", "")
df.dtypes
df['usd pledged'] =df['usd pledged'].apply(lambda x: float(x.split()[0].replace('$', '')))
df["pledged_real_diff"] = (df["usd pledged"] - df["usd_pledged_result"]) #vänd
df
#df['usd pledged'].str.replace("$", "")
#df['usd pledged'] = df ['usd pledged'].astype (float)

#df["pledged_real_diff"] = (df["usd pledged"] - df["usd_pledged_result"])

0       98849$
1       52486$
2       53482$
3       64632$
4       99272$
         ...
1995    70106$
1996    77334$
1997    95565$
1998    86498$
1999    72847$
Name: usd pledged, Length: 2000, dtype: object

C:\Users\af970720\AppData\Local\Temp\ipykernel_14052\1457163766.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['usd pledged'].str.replace("$", "")

0       98849
1       52486
2       53482
3       64632
4       99272
         ...
1995    70106
1996    77334
1997    95565
1998    86498
1999    72847
Name: usd pledged, Length: 2000, dtype: object

ID                     object
name                   object
category               object
main_category          object
currency               object
deadline               object
goal                  float64
launched               object
pledged               float64
state                  object
backers                 int64
country                object
usd pledged            object
usd_pledged_result    float64
usd_funding_goal      float64
company_address        object
dtype: object

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address,pledged_real_diff
0,1054480724ID,Luminoodle COLOR & BASECAMP: Versatile & Porta...,Product Design,Design,USD,2016-04-22,25000.0,2016-03-22 16:39:57,408052.0,successful,5085,US,98849.0,408052.00,25000.00,"Mary Grove, 30815",-309203.00
1,1317034686ID,Liberty's work was accepted into the Library o...,Shorts,Film & Video,USD,2017-02-23,1100.0,2017-02-03 07:26:57,1106.0,successful,10,US,52486.0,1106.00,1100.00,"Garcia Tunnel, 77525",51380.00
2,121816660ID,Dusk - Open World Survival Horror (Canceled),Video Games,Games,GBP,2015-12-19,50000.0,2015-11-18 01:53:10,1625.0,canceled,58,GB,53482.0,2422.88,74550.09,"Payne Isle, 42813",51059.12
3,49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,NaN,failed,0,SE,64632.0,0.00,23054.76,"Laura Stream, 08932",64632.00
4,1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.0,successful,9,US,99272.0,5025.00,5000.00,"Andrew Pike, 24782",94247.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,867650362ID,SideWayz Theatre's First Production Fund,Theater,Theater,USD,2016-03-23,2500.0,2016-03-03 23:30:22,25.0,failed,1,US,70106.0,25.00,2500.00,"Fernandez Cliff, 07444",70081.00
1996,1512412268ID,THE LOVE & MISERY OF A MOONSHINE MIND Project,Publishing,Publishing,USD,2012-10-11,4850.0,2012-09-14 23:43:32,40.0,failed,2,US,77334.0,40.00,4850.00,"Williams Junction, 45598",77294.00
1997,508267839ID,Mall-World Animated Series - Comedy,Animation,Film & Video,USD,2016-12-19,25000.0,2016-11-04 00:45:31,86.0,failed,2,US,95565.0,86.00,25000.00,"Elaine Point, 97758",95479.00
1998,945357371ID,Behind the Food Carts Road Trip,Photography,Photography,USD,2014-02-04,5000.0,2014-01-14 23:48:24,5610.0,successful,77,US,86498.0,5610.00,5000.00,"Nancy Dam, 25971",80888.00
1999,1093469237ID,Paintball Robot,Technology,Technology,USD,2011-03-23,15000.0,2011-02-11 23:55:07,1233.0,failed,18,US,72847.0,1233.00,15000.00,"Kennedy Motorway, 67176",71614.00

### Displaya hur många kickstarterprojekt det finns uppdelat på kategori med hjälp av kolumnen main_category

In [416]:
df["main_category"].value_counts()

Film & Video    375
Music           272
Publishing      198
Games           186
Art             154
Design          153
Technology      150
Food            142
Fashion         102
Photography      62
Theater          57
Crafts           56
Comics           47
Journalism       23
Dance            23
Name: main_category, dtype: int64

In [417]:
# Ta ej bort denna cell

### Vad är det högsta resultatet för usd_pledged_result? Du ska använda dig av en metod.

In [25]:


df['usd_pledged_result'].max() ##

1021481.0

In [340]:
# Ta ej bort denna cell

### Visa de projekten med minst "usd_pledged_resultat" - använd dig av .min()
Du ska inte enbart visa värdet, utan hela raderna

Tips: Använd en mask!

In [341]:
df[df['usd_pledged_result'] == df['usd_pledged_result'].min()]

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address,pledged_real_diff
3,49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,NaN,failed,0,SE,64632.0,0.0,23054.76,"Laura Stream, 08932",64632.0
25,1384707351ID,Batman Band Builder for Ios and Android (Cance...,Games,Games,GBP,2015-10-28,500.0,2015-09-28 21:17:03,NaN,canceled,0,GB,50983.0,0.0,766.99,"Barbara Islands, 71175",50983.0
31,1511392096ID,Criss Cross Quail acres,Farms,Food,USD,2015-02-20,30000.0,2015-01-21 21:23:08,NaN,failed,0,US,80915.0,0.0,30000.00,"Stacey Loaf, 25341",80915.0
38,1616831393ID,Help us construct with music (Canceled),Music,Music,USD,2011-04-09,10000.0,2011-03-10 05:20:04,NaN,canceled,0,US,86018.0,0.0,10000.00,"Jill Course, 75981",86018.0
45,1992107184ID,Community Art Wall (Canceled),Public Art,Art,USD,2013-07-28,6750.0,2013-05-29 22:00:17,NaN,canceled,0,US,85307.0,0.0,6750.00,"Collins Pike, 12819",85307.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1939,625585267ID,Rosie the hippo: Do I have to share my toys? (...,Children's Books,Publishing,USD,2015-12-16,3000.0,2015-11-16 18:31:08,NaN,canceled,0,US,61783.0,0.0,3000.00,"Jennifer Trail, 37296",61783.0
1946,615895406ID,Kombat Komedian 2,Experimental,Film & Video,EUR,2015-08-15,2000.0,2015-06-18 01:01:07,NaN,failed,0,IT,63965.0,0.0,2256.19,"Harmon Walk, 31405",63965.0
1948,603589651ID,The beginning,Animation,Film & Video,DKK,2017-09-26,35000.0,2017-08-27 23:22:06,NaN,failed,0,DK,77101.0,0.0,5552.21,"Shaw Shore, 91720",77101.0
1985,374290795ID,Soul Sessions with Yolanda Stephens (Canceled),Music,Music,USD,2015-09-30,50000.0,2015-08-18 21:59:21,NaN,canceled,0,US,71133.0,0.0,50000.00,"Fitzpatrick Alley, 18274",71133.0
1986,932817729ID,Chipps and Dipps,Tabletop Games,Games,USD,2016-11-16,35000.0,2016-10-18 21:59:14,NaN,canceled,0,US,53455.0,0.0,35000.00,"Stanley Falls, 53083",53455.0

In [342]:
# Ta ej bort denna cell

### Hitta alla rader som innehåller ordet "Cross" i kolumnen "name" med hjälp av string-metoder och displaya högsta värdet för kolumnen "pledged"

In [26]:
df[df["name"].str.contains("Cross")] ##
#df.sort_values("pledged",  ascending = False).head(1)
df['pledged'].max()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address,pledged_real_diff
31,1511392096ID,Criss Cross Quail acres,Farms,Food,USD,2015-02-20,30000.0,2015-01-21 21:23:08,NaN,failed,0,US,80915.0,0.00,30000.0,"Stacey Loaf, 25341",80915.00
123,628240076ID,Crossroads (Short Film),Thrillers,Film & Video,USD,2017-03-06,5000.0,2017-02-04 21:00:11,5128.51,successful,78,US,55935.0,5128.51,5000.0,"Delgado Field, 88721",50806.49
340,2084671684ID,Help Cross Record make a full length album!,Indie Rock,Music,USD,2012-02-18,8500.0,2012-01-14 21:15:28,8618.50,successful,99,US,64771.0,8618.50,8500.0,"Jennifer Trail, 46231",56152.50
686,640879014ID,The Cross Brush by 'Iron Sharpens Iron Golf',Product Design,Design,USD,2015-04-14,20000.0,2015-02-25 05:25:01,5281.00,failed,38,US,70357.0,5281.00,20000.0,"Lisa Springs, 73213",65076.00
1036,583947260ID,I Wonder: A Cross Curricular Textbook,Publishing,Publishing,USD,2013-07-11,1200.0,2013-06-11 01:57:20,NaN,failed,0,US,52028.0,0.00,1200.0,"Brown Turnpike, 38840",52028.00

1039829.31

In [344]:
# Ta ej bort denna cell

#
# Sektion VG (Väl Godkänt)
#

### Displaya hur många kickstarterprojekt uppdelat på kategori med hjälp av kolumnen main_category. Displaya topp 5 sorterat från högst till lägst.

In [345]:
df["main_category"].value_counts().sort_values(ascending= False).head(5)
#file.sort_values("Fare",  ascending = False).head(11)

Film & Video    375
Music           272
Publishing      198
Games           186
Art             154
Name: main_category, dtype: int64

In [346]:
# Ta ej bort denna cell

### Displaya de top 10 ovanligaste KOMBINATIONERNA av "main_category" och "category" som är country "US"

In [20]:
df_country = df.loc[df['country'] == 'US']

df_country[["main_category", "category"]].value_counts().tail(10)

main_category  category
Music          Punk                1
Publishing     Literary Spaces     1
Games          Puzzles             1
Food           Spaces              1
Film & Video   Experimental        1
Crafts         Stationery          1
               Quilts              1
Film & Video   Festivals           1
Food           Farmer's Markets    1
Fashion        Ready-to-wear       1
dtype: int64

In [348]:
# Ta ej bort denna cell

### Dela upp projekten i grupper baserat på main_category, vad är den genomsnittliga funding-målet dom har (usd_funding_goal). Sortera resultatet från högt till lågt

In [349]:
df.groupby("main_category")['usd_funding_goal'].mean().sort_values(ascending= False)

main_category
Art             666092.309286
Technology       50913.101867
Games            33791.858656
Food             31883.745070
Theater          27964.739298
Film & Video     22852.615627
Publishing       20830.815909
Design           19979.825948
Fashion          15168.148725
Music            11747.886985
Photography       9095.636613
Crafts            7852.780536
Journalism        7384.004348
Dance             5884.845217
Comics            4545.462553
Name: usd_funding_goal, dtype: float64

In [350]:
# Ta ej bort denna cell

### Displaya en sammanställning av samma gruppering som förra uppgiften. Den ska nu innehålla flera kolumner med minst genomsnitt, max, min, count
- Använd först .describe och displaya din output
- Använd .agg() och displaya din output, du ska endast inkludera genomsnitt, max, min, count

In [369]:
df_group = df.groupby("main_category")['usd_funding_goal'].describe()
df_group
df.agg(['max', 'min', 'count']) # använd inte df_group här

,count,mean,std,min,25%,50%,75%,max
main_category,,,,,,,,
Art,154.0,666092.309286,8.057100e+06,75.00,1500.0000,3491.06,10000.0000,1.000000e+08
Comics,47.0,4545.462553,4.111874e+03,99.00,1500.0000,3500.00,6000.0000,2.224034e+04
Crafts,56.0,7852.780536,1.439111e+04,20.00,706.1600,2750.00,8000.0000,6.962980e+04
Dance,23.0,5884.845217,6.328256e+03,350.00,2100.0000,4000.00,6529.4950,2.495840e+04
Design,153.0,19979.825948,3.112554e+04,1.00,3300.0000,10000.00,22500.0000,2.280606e+05
Fashion,102.0,15168.148725,5.088161e+04,158.18,1500.0000,5000.00,12818.4025,5.000000e+05
Film & Video,375.0,22852.615627,5.832066e+04,15.00,2244.9000,6000.00,20000.0000,7.500000e+05
Food,142.0,31883.745070,6.601281e+04,0.89,3550.0000,10000.00,33200.4075,5.000000e+05
Games,186.0,33791.858656,9.787867e+04,15.00,2716.6325,9000.00,20821.8175,7.923763e+05
Journalism,23.0,7384.004348,7.684875e+03,500.00,1857.0150,4865.00,9250.0000,2.700000e+04
Music,272.0,11747.886985,4.720634e+04,111.60,1787.7050,3929.10,8500.0000,7.256368e+05
Photography,62.0,9095.636613,1.252610e+04,100.00,2000.0000,5000.00,10000.0000,7.500000e+04
Publishing,198.0,20830.815909,1.429845e+05,10.00,2000.0000,5000.00,10000.0000,2.000000e+06
Technology,150.0,50913.101867,1.030981e+05,1.00,6000.0000,20000.00,50000.0000,9.000614e+05
Theater,57.0,27964.739298,1.323266e+05,100.00,1500.0000,3814.76,10000.0000,1.000000e+06

,count,mean,std,min,25%,50%,75%,max
max,375.0,666092.309286,8.057100e+06,500.00,6000.00,20000.0,50000.0,1.000000e+08
min,23.0,4545.462553,4.111874e+03,0.89,706.16,2750.0,6000.0,2.224034e+04
count,15.0,15.000000,1.500000e+01,15.00,15.00,15.0,15.0,1.500000e+01

In [22]:
# Ta ej bort denna cell

,count,mean,std,min,25%,50%,75%,max
main_category,,,,,,,,
Art,154.0,666092.309286,8.057100e+06,75.00,1500.0000,3491.06,10000.0000,1.000000e+08
Comics,47.0,4545.462553,4.111874e+03,99.00,1500.0000,3500.00,6000.0000,2.224034e+04
Crafts,56.0,7852.780536,1.439111e+04,20.00,706.1600,2750.00,8000.0000,6.962980e+04
Dance,23.0,5884.845217,6.328256e+03,350.00,2100.0000,4000.00,6529.4950,2.495840e+04
Design,153.0,19979.825948,3.112554e+04,1.00,3300.0000,10000.00,22500.0000,2.280606e+05
Fashion,102.0,15168.148725,5.088161e+04,158.18,1500.0000,5000.00,12818.4025,5.000000e+05
Film & Video,375.0,22852.615627,5.832066e+04,15.00,2244.9000,6000.00,20000.0000,7.500000e+05
Food,142.0,31883.745070,6.601281e+04,0.89,3550.0000,10000.00,33200.4075,5.000000e+05
Games,186.0,33791.858656,9.787867e+04,15.00,2716.6325,9000.00,20821.8175,7.923763e+05
Journalism,23.0,7384.004348,7.684875e+03,500.00,1857.0150,4865.00,9250.0000,2.700000e+04
Music,272.0,11747.886985,4.720634e+04,111.60,1787.7050,3929.10,8500.0000,7.256368e+05
Photography,62.0,9095.636613,1.252610e+04,100.00,2000.0000,5000.00,10000.0000,7.500000e+04
Publishing,198.0,20830.815909,1.429845e+05,10.00,2000.0000,5000.00,10000.0000,2.000000e+06
Technology,150.0,50913.101867,1.030981e+05,1.00,6000.0000,20000.00,50000.0000,9.000614e+05
Theater,57.0,27964.739298,1.323266e+05,100.00,1500.0000,3814.76,10000.0000,1.000000e+06

                        mean           max  count     min
main_category
Art            666092.309286  1.000000e+08    154   75.00
Comics           4545.462553  2.224034e+04     47   99.00
Crafts           7852.780536  6.962980e+04     56   20.00
Dance            5884.845217  2.495840e+04     23  350.00
Design          19979.825948  2.280606e+05    153    1.00
Fashion         15168.148725  5.000000e+05    102  158.18
Film & Video    22852.615627  7.500000e+05    375   15.00
Food            31883.745070  5.000000e+05    142    0.89
Games           33791.858656  7.923763e+05    186   15.00
Journalism       7384.004348  2.700000e+04     23  500.00
Music           11747.886985  7.256368e+05    272  111.60
Photography      9095.636613  7.500000e+04     62  100.00
Publishing      20830.815909  2.000000e+06    198   10.00
Technology      50913.101867  9.000614e+05    150    1.00
Theater         27964.739298  1.000000e+06     57  100.00

### Gruppera baserat på kolumnen "state" och displaya genomsnittet av backers (dvs. antal folk som betalat pengar för att stötta projektet). Vad drar du för slutsats? Det räcker med max 2 meningar.

In [370]:
df.groupby("state")['backers'].mean() # Baserad på den statistiska värden d.v.s genomsitet success ratignen är väldigt hög. 
# Det betyder att de flesta projekt som har fått ekonomisk stöd har lyckats. Man kan också se att näst största värden är på suspended.
# Det betyder att en hel del projekt har blivit suspended även fast de har haft backers.

state
canceled       22.548544
failed         17.244782
live           29.142857
successful    198.752890
suspended      34.555556
undefined       0.000000
Name: backers, dtype: float64

In [23]:
# Ta ej bort denna cell

state
canceled       22.548544
failed         17.244782
live           29.142857
successful    198.752890
suspended      34.555556
undefined       0.000000
Name: backers, dtype: float64

Uppenbarligen så verkar de projekten som lyckats ha flest backers. Märkligt nog verkar också suspended ha en hel del backers.

### Använd .apply() 
1. Undersök vilka kategorier det finns i kolumnen "state"
2. Skapa en funktion som baserat på värdena i kolumnen state modifierar kolumnen "goal" med en * för success, "!" för failure eller canceled, "---" för "suspended".
3. Displaya ett sample av 20 rader från din modifierade kolumn

In [430]:
#df.apply("state")
def add_symbol(row):
    if row["state"]  == "live":
        row["state"] = row["state"] + " ✨ "
    if row['state'] == "successful":
        row["state"] = row["state"] + " 🏆 "
    if row["state"] == "undefined":
        row["state"] = row["state"] + "🤔"
    if row["state"] == "canceled":
        row["state"] = row["state"] + " 🚫 "
    if row["state"] == "failed":
        row["state"] = row["state"] + " ❌ "
    if row["state"] == "suspended":
        row["state"] = row["state"] + " 🛑 "
    
    return row      
df.apply(add_symbol, axis= "columns")

pd.DataFrame(df["state"].sample(20))

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address,pledged_real_diff
0,1054480724ID,Luminoodle COLOR & BASECAMP: Versatile & Porta...,Product Design,Design,USD,2016-04-22,25000.0,2016-03-22 16:39:57,408052.0,successful 🏆,5085,US,98849.0,408052.00,25000.00,"Mary Grove, 30815",-309203.00
1,1317034686ID,Liberty's work was accepted into the Library o...,Shorts,Film & Video,USD,2017-02-23,1100.0,2017-02-03 07:26:57,1106.0,successful 🏆,10,US,52486.0,1106.00,1100.00,"Garcia Tunnel, 77525",51380.00
2,121816660ID,Dusk - Open World Survival Horror (Canceled),Video Games,Games,GBP,2015-12-19,50000.0,2015-11-18 01:53:10,1625.0,canceled 🚫,58,GB,53482.0,2422.88,74550.09,"Payne Isle, 42813",51059.12
3,49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,NaN,failed ❌,0,SE,64632.0,0.00,23054.76,"Laura Stream, 08932",64632.00
4,1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.0,successful 🏆,9,US,99272.0,5025.00,5000.00,"Andrew Pike, 24782",94247.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,867650362ID,SideWayz Theatre's First Production Fund,Theater,Theater,USD,2016-03-23,2500.0,2016-03-03 23:30:22,25.0,failed ❌,1,US,70106.0,25.00,2500.00,"Fernandez Cliff, 07444",70081.00
1996,1512412268ID,THE LOVE & MISERY OF A MOONSHINE MIND Project,Publishing,Publishing,USD,2012-10-11,4850.0,2012-09-14 23:43:32,40.0,failed ❌,2,US,77334.0,40.00,4850.00,"Williams Junction, 45598",77294.00
1997,508267839ID,Mall-World Animated Series - Comedy,Animation,Film & Video,USD,2016-12-19,25000.0,2016-11-04 00:45:31,86.0,failed ❌,2,US,95565.0,86.00,25000.00,"Elaine Point, 97758",95479.00
1998,945357371ID,Behind the Food Carts Road Trip,Photography,Photography,USD,2014-02-04,5000.0,2014-01-14 23:48:24,5610.0,successful 🏆,77,US,86498.0,5610.00,5000.00,"Nancy Dam, 25971",80888.00
1999,1093469237ID,Paintball Robot,Technology,Technology,USD,2011-03-23,15000.0,2011-02-11 23:55:07,1233.0,failed ❌,18,US,72847.0,1233.00,15000.00,"Kennedy Motorway, 67176",71614.00

           state
1535  successful
663   successful
182   successful
644       failed
886   successful
850   successful
1432      failed
175       failed
1809      failed
513   successful
1417      failed
683       failed
1643      failed
149   successful
486   successful
1516  successful
1925      failed
502   successful
23        failed
439       failed

In [420]:
df["state"].unique()

array(['successful', 'canceled', 'failed', 'live', 'undefined',
       'suspended'], dtype=object)

In [447]:
def add_symbol(row):
    if row["state"]  == "live":
        row["state"] = row["state"] + " ### "
    if row['state'] == "successful":
        row["state"] = row["state"] + " (()) "
    if row["state"] == "undefined":
        row["state"] = row["state"] + "@@"
    if row["state"] == "canceled":
        row["state"] = row["state"] + " !!! "
    if row["state"] == "failed":
        row["state"] = row["state"] + " $$ "
    if row["state"] == "suspended":
        row["state"] = row["state"] + " % "
    
    return row      
df.apply(add_symbol, axis= "columns")
pd.DataFrame((add_symbol, df["state"]))
pd.DataFrame(df["state"])

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address,pledged_real_diff
0,1054480724ID,Luminoodle COLOR & BASECAMP: Versatile & Porta...,Product Design,Design,USD,2016-04-22,25000.0,2016-03-22 16:39:57,408052.0,successful (()),5085,US,98849.0,408052.00,25000.00,"Mary Grove, 30815",-309203.00
1,1317034686ID,Liberty's work was accepted into the Library o...,Shorts,Film & Video,USD,2017-02-23,1100.0,2017-02-03 07:26:57,1106.0,successful (()),10,US,52486.0,1106.00,1100.00,"Garcia Tunnel, 77525",51380.00
2,121816660ID,Dusk - Open World Survival Horror (Canceled),Video Games,Games,GBP,2015-12-19,50000.0,2015-11-18 01:53:10,1625.0,canceled !!!,58,GB,53482.0,2422.88,74550.09,"Payne Isle, 42813",51059.12
3,49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,NaN,failed $$,0,SE,64632.0,0.00,23054.76,"Laura Stream, 08932",64632.00
4,1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.0,successful (()),9,US,99272.0,5025.00,5000.00,"Andrew Pike, 24782",94247.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,867650362ID,SideWayz Theatre's First Production Fund,Theater,Theater,USD,2016-03-23,2500.0,2016-03-03 23:30:22,25.0,failed $$,1,US,70106.0,25.00,2500.00,"Fernandez Cliff, 07444",70081.00
1996,1512412268ID,THE LOVE & MISERY OF A MOONSHINE MIND Project,Publishing,Publishing,USD,2012-10-11,4850.0,2012-09-14 23:43:32,40.0,failed $$,2,US,77334.0,40.00,4850.00,"Williams Junction, 45598",77294.00
1997,508267839ID,Mall-World Animated Series - Comedy,Animation,Film & Video,USD,2016-12-19,25000.0,2016-11-04 00:45:31,86.0,failed $$,2,US,95565.0,86.00,25000.00,"Elaine Point, 97758",95479.00
1998,945357371ID,Behind the Food Carts Road Trip,Photography,Photography,USD,2014-02-04,5000.0,2014-01-14 23:48:24,5610.0,successful (()),77,US,86498.0,5610.00,5000.00,"Nancy Dam, 25971",80888.00
1999,1093469237ID,Paintball Robot,Technology,Technology,USD,2011-03-23,15000.0,2011-02-11 23:55:07,1233.0,failed $$,18,US,72847.0,1233.00,15000.00,"Kennedy Motorway, 67176",71614.00

                                                   0
0        <function add_symbol at 0x000002D242709BD0>
1  0       successful
1       successful
2       ...

           state
0     successful
1     successful
2       canceled
3         failed
4     successful
...          ...
1995      failed
1996      failed
1997      failed
1998  successful
1999      failed

[2000 rows x 1 columns]